.main-page {
  display: flex;
  flex-direction: column;
  border-bottom: 10px;
}

.map-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  app-leaflet {
    flex: 1; /* each takes half the width */
    height: 100%;
  }
  app-cesium {
    flex: 1;
    height: 100%;
  }
}
